
.icon-wine:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e802'; } /* '' */
.icon-down:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
